.FAQ-container {
  display: flex;
  flex-direction: column;
}

.FAQ-container > h1 {
  text-align: center;
}

.FAQ-item > p {
  margin: 0;
}

.FAQ-item {
  margin: 10px auto;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding-bottom: 20px;
  justify-items: center;
  align-items: center;
  width: 500px;
}

.FAQ-item--question {
  padding: 20px 0 0 20px;
  font-weight: 600;
}

.FAQ-item--answer {
  padding: 0 0 10px 40px;
}